/* 
---01 Typography System

    -Font sizes (px)
    /*10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Font Weights
      Default:400
      Medium: 500
      Semi-bold: 600
      Bold: 700

    -Line Heights
      Default: 1
      Small: 1.05
      Medium: 1.2
      Paragraph: 1.6

    -Letter Spacing
      0.5px
      0.75px

---02 Colors
    -Primary:#e67e22
    -Tints:#fdf2e9, 
    -Shades:#cf711f,#45260a;
    -Accents
    -Greys: 
    #888, 
    #6F6F6F (ligtest grey allowed on #fdf2e9)
    #555 , 
    #333, 
    #aaa

---05 Shadows

  form inputs - box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

---06 Border Radius
Default: 9px
Medium: 11px

---07 White Space (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* Notes
Use of Max-Width property for responsive design:

if the container width
is larger than the specified max-width,
then the width of the element
is equal the value that was specified for max-width.

However, if the container width
is less than the specified max width,
then the width of the element
will be 100% of the container element width. 

rem:
the unit rem is in relation to the root element's(html) font-size
which is by default 16px for most browsers
i.e., 1rem = 16px
So we can manipulate it by changing the property in html
html{
  font-size:10px
} - however this absolute value does not respect user's customize settings if any
so we generally use 

font-size = 62.5%;

which comes down to the value of 10 (62.5%of16) and respects user's settings

why 10? so that it is easy for us to calculate while determining values
ex 2rem = 20px etc, 3.2rem = 32px etc.


gneral:
many believe inheritance via the HTML has performance benefits over direct selection via the universal selector.


.test {
  background-color: palegreen;
  color: blueviolet;
  /* width: 1000px; */
/* max-width: 1000px; */
/* padding: 100px; */
/* font-size: 32px; */

/* max-width: 100rem;
  padding: 10rem;
  font-size: 3rem; */
/* } */

/* ************************* */
/* General reusable styles */
/* ************************* */

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}
/* .grid:last-child {
  margin-bottom: 0;
} */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--center-v {
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.sub-heading {
  display: block;
  color: #cf711f;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff; pushes the content up */
  /* can either use the outline for outside effect */
  /* outline: 3px solid #fff; */
  /* or */
  /* Insted to apply border inside use below */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
  /* border-bottom:none; will mess up the layout as pixels are removed */
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
}

/* Focus states */
*:focus {
  outline: none;
  /* 
  outline: 4px dotted #e67e22;
  outline-offset: 4px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
/*margin-right-small*/
.m-r-sm {
  margin-right: 1.6rem !important;
}
.m-b-md {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}
strong {
  font-weight: 500;
}
